html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Svyaznoy Sans", Arial, Helvetica, sans-serif;
}

.container {
	width: 100%;
	max-width: 764px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

.header_line {
	min-height: 56px;
	border-bottom: 1px solid #E6E6E6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header_line .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_form {
	width: 100%;
	display: flex;
}

.header_line__search {
	min-height: 72px;
	box-shadow: 0 4px 10px rgba(189, 199, 222, 0.23245);
	border: none;
}

.input {
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	padding: 10px 5px;
}

.input_block__search {
	display: block;
	position: relative;
	width: 100%;
}

.input_search {
	width: 100%;
}

.input_block__search input {
	padding-right: 50px;
}

.input_block__button {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.button {
	padding: 9px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #4C1E87;
	box-sizing: border-box;
	text-decoration: none;
}

.button_search {
	text-transform: uppercase;
}

.button_yellow {
	background: #FFC800;
}

.search_result__title {
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	color: #333333;
	margin-bottom: 3px;
}

.search_result__description {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.filters {
	display: flex;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.filters_item {
	background: #00CED0;
	border-radius: 2px;
	padding: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 4px;
	margin-bottom: 4px;
	display: flex;
	justify-content: space-between;
}

.filters_item::after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background: url("../assets/remove-icon.svg");
	background-size: contain;
	margin-left: 15px;
	cursor: pointer;
}

.search_results__item {
	border: 1px solid #D9D9D9;
	display: grid;
	position: relative;
	margin-bottom: 25px;
	grid-template-areas: "a b" "a c";
}
.search_results__item .item_content {
	grid-area: b;
}

.search_results__item .item_info {
	grid-area: c;
}

.search_results__item .item_content, .search_results__item .item_info {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.search_results__item .item_content__title {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	padding-right: 50px;
}
.search_results__item .item_content__reviews {
	display: flex;
	align-items: center;
	margin-top: 5px;
	text-decoration: none;
}

.search_results__item .item_content__reviews .stars {
	display: flex;
	margin-right: 10px;
}

.search_results__item .item_content__reviews .stars img {
	margin-right: 5px;
}

.reviews_count {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #4A4A4A;
}

.address_line {
	display: flex;
	margin-top: 10px;
}

.address_line a {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-decoration-line: underline;
	color: #4C1E87;
	display: flex;
	align-items: center;
}

.address_line a:first-child::after {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	background: #4C1E87;
	border-radius: 50%;
	margin-left: 15px;
	margin-right: 15px;
}

.line-delimiter {
	height: 1px;
	width: 100%;
	background: #D9D9D9;
	margin: 15px 0;
}

.number_type__title {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.number_type__sleep {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #4A4A4A;
}

.number {
	display: flex;
	justify-content: space-between;
}
.number_period {
	display: flex;
	flex-direction: column;
}

.number_period_nights {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	color: #4A4A4A;
}

.number_period .cost_old {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	text-decoration-line: line-through;
	color: #E41D94;
	margin-right: 5px;
}

.number_period .number_period_cost {
	display: flex;
	align-items: center;
}

.number_period .cost {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: right;
	color: #000000;
}

.number_period__fee {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	color: #4A4A4A;
}

.advantages_green {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #00979F;
}

.advantages_pink {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #FF0098;
}

.cart_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search_results__item .bookmark {
	display: inline-flex;
	width: 44px;
	height: 54px;
	background: url("../assets/label_bookmark.svg") no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	justify-content: center;
	padding-top: 10px;
	right: 15px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.search_results__item .item_image {
	position: relative;
	grid-area: a;
}

.search_results__item .item_image .label_line {
	position: absolute;
	top: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	z-index: 100;
}
.label_line .item_image__label {
	padding: 3px 6px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.label_line .label_pink {
	background: #FF0098;
}

.label_line .label_blueviolet {
	background: #4C1E87;
}

.label_line .like {
	display: flex;
	justify-content: center;
	align-items: center;
}


.search_results__item .item_image {
	flex-shrink: 0;
}

.search_results__item .item_image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	flex: 1 0 auto;
}

footer.site_footer {
	background: #000000;
	min-height: 60px;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer.site_footer p {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	text-align: center;
	color: #EDEDED;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide-pc {
	display: none;
}

.hover-zoom {
	overflow: hidden;
	height: 100%;
}

.hover-zoom img {
	transition: transform .5s ease;
}

.hover-zoom:hover img {
	transform: scale(1.5);
}

.button:hover {
	text-decoration: underline;
}

@media screen and (max-width: 900px) {
	.container {
		padding: 0 5px;
	}

	.hide-pc {
		display: block;
	}

	.for_mobile_wrap {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.for_mobile_wrap .button_block .button {
		font-size: 16px;
	}

	.hide-mobile {
		display: none;
	}

	.search_result__title {
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 0;
	}

	.filters_item {
		padding: 6px;
		line-height: 10px;
	}

	.search_results__item {
		grid-template-areas: "b" "a" "c";
	}

	.search_results__item .item_image img {
		max-height: 140px;
	}

	.address_line a:first-child::after, .address_line a:last-child {
		display: none;
	}

	.number_period_nights, .number_period__fee {
		text-align: left;
	}

	.number_period .cost  {
		font-size: 16px;
	}
}