@font-face {
    font-family: 'Svyaznoy Sans';
    src: url('SvyaznoySans-Bold.eot');
    src: local('Svyaznoy Sans Bold'), local('SvyaznoySans-Bold'),
        url('SvyaznoySans-Bold.eot?#iefix') format('embedded-opentype'),
        url('SvyaznoySans-Bold.woff2') format('woff2'),
        url('SvyaznoySans-Bold.woff') format('woff'),
        url('SvyaznoySans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Svyaznoy Sans';
    src: url('SvyaznoySans-Medium.eot');
    src: local('Svyaznoy Sans Medium'), local('SvyaznoySans-Medium'),
        url('SvyaznoySans-Medium.eot?#iefix') format('embedded-opentype'),
        url('SvyaznoySans-Medium.woff2') format('woff2'),
        url('SvyaznoySans-Medium.woff') format('woff'),
        url('SvyaznoySans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Svyaznoy Sans';
    src: url('SvyaznoySans.eot');
    src: local('Svyaznoy Sans'), local('SvyaznoySans'),
        url('SvyaznoySans.eot?#iefix') format('embedded-opentype'),
        url('SvyaznoySans.woff2') format('woff2'),
        url('SvyaznoySans.woff') format('woff'),
        url('SvyaznoySans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

